* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #000;
}

.layout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 25em) {
    html {
        font-size: calc(16px + (22 - 16) * (100vw - 400px) / (800 - 400));
    }
}

@media screen and (max-width: 40em) {
    html {
        font-size: calc(16px + (22 - 16) * (100vw - 400px) / (800 - 400));
    }
}